html{
    font-size: 10px;
}
body{
    margin: 0;
    font-family: "Noto Sans Korean", "sans-serif";
    /*루트(html)을 기준으로 root equal M사이즈를 적용한다.*/
    /*html의 텍스트 크기를 10px로 정해놓은 이유는 곱하기 편하게 하기 위해서이다.*/
    /*body의 글자크기는 16px과 같다.*/
    font-size: 1.6rem;

    /*가이드라인 설정*/
    background: url("../images/leading24px.png") 0 0 repeat;
    color:#000;
    line-height: 1.5;/*24px/16px*/
    letter-spacing:-0.0235em;
    /*-5(+18.5)/1000 실제 대조해보니 18.5만큼을 더해준다. 이건 내방식 음수는 나중에 곱해주면 된다.*/
    /*text-align: justify;*/
}
.container{
    width:85.9375%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(221,221,221,0.5);
}

/*본문 디자인*/

/*헤딩 사이즈 구하기*/
/*제목디자인 type scale x 1.25/*/
h1,h2,h3,h4,h5,h6{
    color:rgba(102,102,102,1);
    color:#666666;
    margin-top:0;
    margin-bottom: 2.4rem;
    letter-spacing:-0.0065em;/*(-25+18.5/1000)*/;
    font-weight: 700;

}
h4{
    font-weight: 500;
}
h1,h2,h3{
    font-weight: 400;
}

/*headline 설정*/
h1{
    font-size: 6.103515625rem;
    line-height: 7.2rem;
}

h2{
    font-size: 4.8828125rem;
    line-height: 4.8rem;
}

h3{
    font-size: 3.90625rem;
    line-height: 4.8rem;
}

h4{
    font-size: 3.125rem;
    line-height: 2.4rem;
}

h5{
    font-size: 2.5rem;
    line-height: 2.4rem;
}

h6{
    font-size: 2rem;
    line-height: 2.4rem;
}

/*본문디자인*/
p{
    color:rgba(72,72,72,1);
    color:#484848;

    margin-top: 0;
    margin-bottom: 2.4rem;
}

/*링크 디자인*/
a:hover, active, focus{
    color:rgba(255,149,0,1);
    color:#ff9500;
}
a:link, visited{
    color:rgba(62,112,167,1);
    color:#3e70a7;
}
a:deactive{
    color: rgba(199,199,204,1);
    color: #c7c7cc;
}

/*버튼 디자인*/
.btn{
    background: rgba(40,157,253,1);
    background: #289dfd;
}
