

* {

}

body{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/leading24px.png");
}

p{
    font-family: "Spoqa Han Sans";
    margin-top: 0;
    margin-bottom: 1.5em;
    color:#000;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: ; -0.005em;/*-5/1000*/

}
