@charset "UTF-8";
html{
    font-size: 10px;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family:"Spoqa Han Sans", "Sans Serif";
    height: 100vh;
    box-sizing: border-box;
    background: radial-gradient(circle, #666, #000 60%);
}
.banner{
    width:800px;
    height:300px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    background: url(../images/bg.jpg) 0 0 no-repeat;
    overflow:hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.banner-apes{
    position: absolute;
    left:0;
    top:169px;
}
.banner-golliras{
    position:absolute;
    left:11px;
    top:111px;
}
.banner-kingkong{
    position: absolute;
    left:491px;
    top:28px;
}
.banner-logo{
    position: absolute;
    left:19px;
    top:18px;
}
.banner h1{
    position: absolute;
    left:122px;
    top:24px;
    color:white;
    transform: skewX(-8deg);
    font-size: 33px;
    letter-spacing: 0.002em;
    line-height:1.060606060606061;
    width: 330px;
    height:70px;
    margin: 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);

}
/* animation */
.kingkong-slideup{
    animation: slideup 500ms ease 516.216ms backwards;

}
@keyframes slideup {
    0%{top:300px;}
    100%{top:28px;}

}
.apes-slide-right{
    animation: slide-right 500ms ease 753.514ms backwards;

}
@keyframes slide-right {
    0%{left:800px;}
    100%{left:0;}
}
.golliras-slide-left{
    animation: slide-left 500ms ease 18.1982ms backwards;
}
@keyframes slide-left {
    0%{left:-500px;}
    100%{left:11px;}
}
.logo-slide-down{
    animation: slide-down 500ms ease-out 999.099ms backwards;
}
@keyframes slide-down {
    0%{top:-100px;}
    100%{top:18px;}

}
.title-scale-in{
    animation: scale-in 496.937ms cubic-bezier(0.8, 0.02, 1, 1) 1003.06ms backwards;
    z-index: 100;
}
@keyframes scale-in {
    0%{
        transform: scale(4,4) skewX(-8deg);
        opacity: 0;
    }
    80%{transform: scale(0.9,0.9) skewX(-8deg);}
    100%{
        transform: scale(1,1) skewX(-8deg);
        opacity: 1;
    }
}
.banner-shake{
    animation:shake 0.2s ease 1.4s backwards;
}
@keyframes shake {
    0%{transform: translate(-2px,-2px);}
    10%{transform: translate(2px,2px);}
    20%{transform: translate(-2px,2px);}
    30%{transform: translate(2px,-2px);}
    40%{transform: translate(-2px,-2px);}
    50%{transform: translate(2px,2px);}
    60%{transform: translate(-2px,2px);}
    70%{transform: translate(2px,-2px);}
    80%{transform: translate(-2px,-2px);}
    90%{transform: translate(2px,2px);}
    100%{transform: translate(0px,0px);}

}
